body{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

.conatainer{
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(61, 61, 56);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 4px solid black;

}
.main{
    background-image: linear-gradient(to top right,  rgb(190, 193, 202), rgb(75, 79, 90));
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.cardOne, .cardTwo, .cardThree, .cardFour{
    height: 350px;
    width: 350px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 40px 40px 20px 40px;
    box-shadow: 5px 5px 15px;
    min-width: 349px;
}

.cardOne:hover, .cardTwo:hover, .cardThree:hover, .cardFour:hover{
    height: 353px;
    width: 353px;
    border: 2px solid white;
    box-shadow:5px 5px 15px white;
}

.itemOne, .itemTwo, .itemThree, .itemFour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardOne{
    background-image: url(./img/bulldog.jpg);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: -130px 0px;

}

.cardTwo{
    background-image: url(./img/eye.jpg);
    background-size: 150%;
    background-position: -100px;
}

.cardThree{
    background-image: url(./img/parrot.jpg);
    background-size: 150%;
    background-position: -100px;
}

.cardFour{
    background-image: url(./img/microphone.jpg);
    background-size: 150%;
    background-position: -100px;
}
